
<template name="chatLayout">
    <div class="container">


        {{> yield}}


    </div>
</template>


<template name="chatNotSpecified">

            <h1>No name specified</h1>

</template>

<template name="chat">
    <h1>Chat: {{name}}</h1>

    <div class="cluster-chat">
    <ul>
      {{#each lines}}
        {{> line}}
      {{/each}}
    </ul>
    </div>
</template>

<template name="line">
    <li>
    {{#if start }}
        <p class="first-line">
            Chat created by {{username}} on {{parseDate createdAt}}
        </p>
    {{ else }}

    {{ /if }}

    </li>
</template>
