<template name="chatLayout">
    <div class="container">
        <div class="cluster-chat">
            {{> yield}}
        </div>
    </div>
</template>


<template name="chat">
    {{#if name}}
        <h1>Cluster chat: {{name}}</h1>
    {{else}}
        {{> chatNotFound}}
    {{/if}}
</template>

<template name="chatLoading">
    <h1>Loading chat...</h1>
</template>

<template name="chatNotFound">
    <h1>Oops. Chat not found</h1>
</template>

<template name="chatNotSpecified">
    <h1>No name specified</h1>
</template>
